body {
  margin: 3% 10% 0 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#quote {
  font-size: clamp(2rem, 10rem, 4vw);
  color: #dfdcff;
  text-align: center;
  line-height: 1.2
}

button {
  padding: 10px;
  margin: 20px 0;
}
