body {
  font-weight: 300;
}

.content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}

.content__hero {
  height: 40vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content__heading {
  text-align: center;
  hi
}

.features {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  border-top: dashed 2px grey;
}

.features__item--left {
  flex-direction: row;
  text-align: right;
}

.features__item--right {
  flex-direction: row-reverse;
}

.features__image {
  flex: 1 1 40%;
  position: relative;
}

.features__card {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
}

.features__img {
  max-width: 100%;
  position: absolute;
  object-fit: cover;
  display: block;
}

.features__content {
  flex: 1 1 55%;
}

.features__title {
  font-size: 1.8em;
  margin-block-end: 1rem;
}

.features__description {
  line-height: 1.6;
}

/* GSAP animation reveal styles */
.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.spacer {
  height: 100vh;
}
