@import url("https://fonts.googleapis.com/css2?family=Anton&family=Mona+Sans:wght@400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: "Mona Sans", sans-serif;
	color: rgba(255, 255, 255, 0.85);
	font-size: 18px;
	font-weight: 400;
	line-height: 23px; /* 127.778% */
	letter-spacing: -0.36px;
	overflow-x: hidden;
}

.wrapper {
	max-width: 1440px;
	padding-inline: 2rem;
	margin-inline: auto;
}

.navbar {
	position: fixed;
	top: 18px;
	width: 100%;
	z-index: 9999;
}

.navbar .menu-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#menu-toggle {
	width: 44px;
	height: 44px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 7px;
	align-items: center;
	justify-content: center;
	background: #fff0dc;
	border-radius: 10px;
	cursor: pointer;

	span {
		width: 29px;
		height: 2px;
		background: #2f2411;
	}
}

.menu-overlay {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	z-index: 9999;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-overlay__bg-container {
	background-color: #ffdcac;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.menu-overlay__bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
}

.menu-overlay__content {
	width: 100%;
	height: 100%;
}

.menu-overlay__links {
	background: rgba(29, 20, 4, 0.21);
	backdrop-filter: blur(67px);
	width: 50%;
	height: 100%;
	padding: 44px 30px;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

[data-text-anim] {
	/* 	hide animated words first to avoid FOUC */
	visibility: hidden;
}

.duplicate-char {
	position: absolute;
	inset: 0;
	transform: translateY(100%);
}

.menu-overlay__main {
	color: #fff7e8;
	font-family: Anton;
	font-size: clamp(2rem, 4.862vw + 0.936rem, 5.313rem);
	line-height: 90%;
	letter-spacing: -1.2px;

	li {
		margin-bottom: 10px;
		transition: opacity 0.3s ease;
		width: fit-content;
		margin-inline: auto;

		a {
			line-height: 93%;
		}
	}
}
.menu-overlay__main:has(li:hover) li:not(:hover) {
	opacity: 0.5;
}

.menu-overlay__socials ul {
	display: flex;
	gap: 14px;
	color: #fff7e8;
	font-size: clamp(1rem, 0.55vw + 0.88rem, 1.375rem);
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.44px;
}

.btn {
	display: flex;
	gap: 10px;
	padding: 14px;
	border-radius: 10px;
	background: #fff0dc;
	font-family: Anton, sans-serif;
	align-items: center;
	justify-content: center;
}

.navbar__btn {
	color: #2f2411;
}

.page-content {
	height: 100%;
	will-change: transform;
}
#hero-section {
	background-image: url("https://res.cloudinary.com/dbsuruevi/image/upload/v1757434246/ykdrxgvj0avjurlm1l5i.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-block: 36px;
}

#hero-section .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	gap: 20px;
}
.hero__header {
	font-family: Anton, sans-serif;
	/* 	font-size: 130px; */
	font-size: clamp(2.75rem, 7.89vw + 1.024rem, 8.125rem);
	line-height: 99%;
	letter-spacing: -2.6px;
	text-transform: uppercase;
	max-width: 751px;
	background: linear-gradient(0deg, #ffd08e 0%, #fff9ee 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__cta {
	border-radius: 20px;
	background: linear-gradient(
		180deg,
		rgba(23, 20, 14, 0.59) 0%,
		rgba(106, 63, 2, 0.59) 80.77%
	);
	backdrop-filter: blur(10px);
	z-index: 0;
	max-width: 385px;
	padding: 22px 18px;

	.cta__txt {
		margin-block: 12px 14px;
	}

	.cta__btn {
		background: #ffad3b;
		font-size: 22px;
	}
}

#spacer-section {
	height: 100vh;
}
